<!DOCTYPE html>
<html lang="en">
<head>
    {{>"head"}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="site-wrapper" class="c-site-wrapper">
        <div id="site-viewport" class="c-site-viewport">
            {{>"sidebar"}}

            <div id="site-content" class="c-site-content">
                {{> "mobile-header"}}
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="{{asset "js/scripts.js"}}" data-no-instant></script>
    <!-- <script src="{{asset "js/instantclick.min.js"}}" data-no-instant></script>
    {{ghost_foot}}
    <script type="text/javascript" data-no-instant>
      InstantClick.on('change', function() {
        if(typeof window.ga === 'function') {
          ga('send', 'pageview', location.pathname + location.search);
        }
      });
      InstantClick.init();
    </script> -->
</body>
</html>
